<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  
  <title>
    {% block title %} IOS-XE Viewer {% endblock %}
  </title>



  <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">

  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">

  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-dark">


  {% include "includes/sidenav.html" %}

  <div class="main-content" id="panel">

    {% block content %}{% endblock content %}

  </div>

</body>
</html>
