{% extends 'layouts/base.html' %}

{% block title %} IOS-XE Viewer {% endblock title %}

{% block stylesheets %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock stylesheets %}

{% block content %}

<ul class="nav">
    <li class="nav-item">
        <a href="#home" class="nav-link active text-light" data-toggle="tab">Interface Form</a>
    </li>
    <li class="nav-item">
        <a href="#profile" class="nav-link text-light" data-toggle="tab">Custom Config</a>
    </li>
</ul>
<div class="tab-content">
  <div class="tab-pane show active" id="home">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col ">
              <h3 class="mb-0 mb-0 text-center">BGP Configuration</h3>
              <br/>
            </div>
          </div>
          <form id="bgpForm" method="post" action="{{ url_for('base_blueprint.post_routing_neighbor') }}">
            <div class="form-group">
              <label class="font-weight-bold">Remote Neighbor</label>
                <input type="text" class="form-control" placeholder="Neighbor" name="neighborId">
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Remote AS</label>
              <input type="text" class="form-control" placeholder="AS" name="remoteAs">
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Policy</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="policy" name="policy">
                  <option value="None">None</option>
                  {% for i in prefixes %}
                    <option value="prefix-list {{ i }}">{{ i }} (prefix-list)</option>>
                  {% endfor %}
                  {% for i in route_map %}
                    <option value="route-map {{ i.name }}">{{ i.name }} (route-map)</option>>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Policy Direction</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="direction" name="direction">
                  <option value="None">None</option>
                  <option value="in">In</option>
                  <option value="out">Out</option>>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Soft Reconfiguration</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="softReconfig" name="softReconfig">
                  <option value="no">no</option>
                  <option value="yes">yes</option>>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Next-Hop-Self</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="nextHop" name="nextHop">
                  <option value="no">no</option>
                  <option value="yes">yes</option>>
                </select>
              </div>
            </div>
            <br/>
            <span>
                {% if status == 'success' %}
                  <input value="Submit" type="submit" class="btn btn-dark"><input value="Success" class="btn btn-success">
                {% elif status == 'fail' %}
                  <input value="Submit" type="submit" class="btn btn-dark"><input value="Failed" class="btn btn-success">
                {% else %}
                  <input value="Submit" type="submit" class="btn btn-dark">
                {% endif %}
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="profile">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col ">
                <h3 class="mb-0 mb-0 text-center">Custom BGP Configuration</h3>
                <br/>
              </div>
            </div>
            <form id="bgpFormCustom" method="post" action="{{ url_for('base_blueprint.post_routing_neighbor') }}">
              <div class="form-group">
                <textarea name="bgpCustomForm" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="23"></textarea>
              </div>
              <br/>
              <span>
                  {% if status == 'custom_success' %}
                    <input value="Submit" type="submit" class="btn btn-dark"><input value="Success" class="btn btn-success">
                  {% elif status == 'custom_fail' %}
                    <input value="Submit" type="submit" class="btn btn-dark"><input value="Failed" class="btn btn-danger">
                  {% else %}
                    <input value="Submit" type="submit" class="btn btn-dark">
                  {% endif %}
              </span>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>


 {% endblock content %}

{% block javascripts %}


{% endblock javascripts %}