{% extends 'layouts/base.html' %}

{% block title %} IOS-XE Viewer {% endblock title %}

{% block stylesheets %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock stylesheets %}

{% block content %}

<ul class="nav">
    <li class="nav-item">
        <a href="#home" class="nav-link active text-light" data-toggle="tab">Interface Form</a>
    </li>
    <li class="nav-item">
        <a href="#profile" class="nav-link text-light" data-toggle="tab">Custom Config</a>
    </li>
</ul>
<div class="row">
    <div class="col">
        <div class="tab-content">
            <div class="tab-pane show active" id="home">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col ">
                                        <h3 class="mb-0 mb-0 text-center">Interface Configuration</h3>
                                        <br/>
                                    </div>
                                </div>
                                <form id="interfaceForm" method="post" action="{{ url_for('base_blueprint.new_interface') }}">
                                  <div class="form-group">
                                    <label class="font-weight-bold ">Interface:
                                        <span class="badge badge-pill badge-info">Logical</span></label>
                                     <input class="form-control" placeholder="interface" name="interface">
                                  </div>
                                   <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <input class="form-control" placeholder="Description" name="description" >
                                  </div>
                                  <div class="form-group">
                                    <label class="font-weight-bold">IP Address</label>
                                     <input type="text" class="form-control" placeholder="IP" name="ip">
                                  </div>
                                   <div class="form-group">
                                    <label class="font-weight-bold">Mask</label>
                                     <input type="text" class="form-control" placeholder="Mask" name="mask">
                                  </div>
                                  <div class="form-group">
                                    <label class="font-weight-bold">Admin Status</label>
                                    <div class="input-group mb-3">
                                      <select class="custom-select" id="status" name="status">
                                        <option value="up">Up</option>
                                        <option value="down">Down</option>
                                        <option value="no shutdown">No Shutdown</option>
                                      </select>
                                    </div>
                                  </div>
                                   <div class="form-group">
                                    <label class="font-weight-bold">VRF</label>
                                    <div class="input-group mb-3">
                                      <select class="custom-select" id="vrf" name="vrf">
                                          <option selected>No-vrf</option>
                                        {% for i in vrfs %}
                                          <option value="{{ i.vrf }}">{{ i.vrf }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <br/>
                                   <span>
                                      {% if status == 'success' %}
                                        <input value="Submit" type="submit" class="btn btn-dark" id="trunkApplyCustom"><input value="Success" class="btn btn-success">
                                      {% elif status == 'fail' %}
                                        <input value="Submit" type="submit" class="btn btn-dark" id="trunkApplyCustom"><input value="Failed" class="btn btn-danger">
                                      {% else %}
                                        <input value="Submit" type="submit" class="btn btn-dark" id="trunkApplyCustom">
                                      {% endif %}
                                  </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col ">
                                        <h3 class="mb-0 mb-0 text-center">Custom Interface Configuration</h3>
                                        <br/>
                                    </div>
                                </div>
                                <form id="" method="post" action="{{ url_for('base_blueprint.new_interface') }}">
                                    <div class="form-group">
                                        <textarea name="newIntCustomForm" class="form-control rounded-0" rows="20">interface {{ interface }}</textarea>
                                    </div>
                                    <br/>
                                    <span>
                                      {% if status == 'custom_success' %}
                                        <input value="Submit" type="submit" class="btn btn-dark"><input value="Success"
                                                                                                        class="btn btn-success">
                                      {% elif status == 'custom_fail' %}
                                        <input value="Submit" type="submit" class="btn btn-dark"><input value="Failed"
                                                                                                        class="btn btn-danger">
                                      {% else %}
                                        <input value="Submit" type="submit" class="btn btn-dark">
                                      {% endif %}
                                  </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col ">
                        <h3 class="mb-0 mb-0 text-center">Interface Configuration</h3>
                        <br/>
                    </div>
                </div>
                <pre>{{ current_config }}</pre>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}