<table id="cdpTable" class="table align-items-center table-striped" >
  <thead class="thead-light">
    <tr>
      <th scope="col" style="text-align:center">Neighbor</th>
      <th scope="col" style="text-align:center">Local Port</th>
      <th scope="col" style="text-align:center">Remote Port</th>
      <th scope="col" style="text-align:center">Action</th>
    </tr>
  </thead>
  <tbody id="cdpTable">
    {% for i in neighbors %}
      <tr>
        <td scope="row" style="text-align:center">{{ i.neighbor }}</td>
        <td scope="row" style="text-align:center">{{ i.local_port }}</td>
        <td scope="row" style="text-align:center">{{ i.remote_port }}</td>
        <th scope="row" class="text-center">
          <input style="font-size:11px" value="CDP Details" name="{{ i.local_port }}" class="btn btn-link" role="status" type="button" onclick="cdpDetails(this.name)" id="{{ i.local_port }}">
        </th>
      </tr>
    {% endfor %}
</table>