{% extends 'layouts/base.html' %}

{% block title %} IOS-XE Viewer {% endblock title %}

{% block stylesheets %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col ">
            <h3 class="mb-0 text-center">OSPF Configuration</h3>
            <br/>
          </div>
        </div>
        <form id="ospfForm" method="post">
           <div class="form-group">
            <label class="font-weight-bold">Process</label>
             {% if not ospf_proc %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Process" name="process">
              </div>
             {% else %}
                <div class="input-group mb-3">
                  <select class="custom-select" id="process" name="process">
                    <option value="Select Process">Select Process...</option>>
                    {% for process in ospf_proc %}
                      <option value="{{process}}">{{process}}</option>>
                    {% endfor %}
                  </select>
                </div>
              </div>
            {% endif %}
          <div class="form-group">
            <label class="font-weight-bold">Network</label>
            <input type="text" class="form-control" placeholder="Network" name="neighbor">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Wildcard</label>
            <input type="text" class="form-control" placeholder="Wildcard" name="wildcard">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Area</label>
            <input type="text" class="form-control" placeholder="Area" name="area">
          </div>
            <br/>
          <input value="Build Adjacency" type="submit" class="btn btn-primary" id="buildAdj">
        </form>
          <br/>
          <br/>
        <div id='response'></div>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){
    $('#ospfForm').submit(function(){
    document.getElementById('buildAdj').value  = 'Building Adjacency...';
     $.ajax({
      url: '/add_ospf_neighbor',
      type: 'POST',
      data: $('form').serialize(),
      success: function(response){
      document.getElementById('buildAdj').value  = 'Build Adjacency';
       $('#response').html(response.data);
      },
     });
     return false;
    });
  });

</script>

 {% endblock content %}

{% block javascripts %}


{% endblock javascripts %}