{% extends 'layouts/base.html' %}

{% block title %} IOS-XE Viewer {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-xl-12">
      <div class="col">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0" style="text-align:left">Imported Data</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="accessTable" class="table align-items-center table-striped">
              <thead class="thead-light">
                <tr>
                    <th scope="col" style="text-align:center">Host</th>
                    <th scope="col" style="text-align:center">Rec. IP</th>
                    <th scope="col" style="text-align:center">svi</th>

                  </tr>
              </thead>
              <tbody id="accessTable">
              {% for i in csv %}
                <tr>
                  <td scope="row" style="text-align:center">{{ i["host"] }}</td>
                  <td scope="row" style="text-align:center">{{ i["rec_ip"] }}</td>
                  <td scope="row" style="text-align:center">{{ i["svi"] }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-xl-12">
      <div class="col">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <span>
                  <h3 class="mb-0" style="text-align:left">Access Ports<input value="Refresh" name="access" class="btn btn-dark btn-round-xs float-right" role="status" type="button" onclick="refreshAccess(this.name)" id="accessRefresh">
                  <input style="margin-right: 10px" value="MAC Discovery" class="btn btn-dark btn-round-xs float-right" name="discoverMac"  role="status" type="button" onclick="discoverMac(this.name)" id="discoverMac">
                </h3></span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="accessTable" class="table align-items-center table-striped">
              <thead class="thead-light">
                <tr>
                    <th scope="col" style="text-align:center">Interface</th>
                    <th scope="col" style="text-align:center">Vlan</th>
                    <th scope="col" style="text-align:center">MAC</th>
                    <th scope="col" style="text-align:center">Type</th>
                    <th scope="col" style="text-align:center">Admin</th>
                    <th scope="col" style="text-align:center">Operational</th>
                    <th scope="col" style="text-align:center">Available Actions</th>
                  </tr>
              </thead>
              <tbody id="accessTable">
              {% for i in access_ports %}
                <tr>
                  <td scope="row" style="text-align:center">{{ i["interface"] }}</td>
                  <td scope="row" style="text-align:center">{{ i["vlan"] }}</td>
                  <td scope="row" style="text-align:center">{{ i["mac"] }}</td>
                  <td scope="row" style="text-align:center">{{ i["type"] }}</td>
                  {% if i['admin'] == 'down' %}
                    <td scope="row" style="text-align:center">
                      <i class="fas fa-circle text-red mr-3"></i>
                    </td>
                  {% else %}
                    <td scope="row" style="text-align:center">
                      <i class="fas fa-circle text-green mr-3"></i>
                    </td>
                  {% endif %}

                  {% if i['oper'] == 'down' %}
                    <td scope="row" style="text-align:center">
                      <i class="fas fa-circle text-red mr-3"></i>
                    </td>
                  {% else %}
                    <td scope="row" style="text-align:center">
                      <i class="fas fa-circle text-green mr-3"></i>
                    </td>
                  {% endif %}
                  <th scope="row" class="text-center">
                  {% if i['mac'] != 'Unknown' %}
                    <input style="font-size:11px" value="Stick MAC" name="{{ i['port'] }}" class="btn btn-link" role="status" type="button" onclick="moreIntDetails(this.name)" id="{{ i['port'] }}">
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

<script>

  function discoverMac(val){
    document.getElementById(val).value  = 'Sticking MAC...';
     $.ajax({
      url: '/mac_learning',
      type: 'POST',
      data: {'action': val},
      success: function(response) {
      document.getElementById(val).value  = 'Stick MAC';
          $("#arpMac").DataTable().destroy()
          $('#arpMac').html(response.data);
          $('#arpMac').DataTable({"pagingType": "full_numbers"});
      },
     });
    }

 </script>

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}