{% extends 'layouts/base.html' %}

{% block title %} IOS-XE Viewer {% endblock title %}

{% block stylesheets %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col ">
            <h3 class="mb-0 mb-0 text-center">Ping Utility</h3>
            <br/>
          </div>
        </div>
        <form id="pingForm" method="post">
           <div class="form-group">
            <label class="font-weight-bold">Source</label>
            <input value="{{ source }}" class="form-control" name="source" >
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Destination</label>
             <input type="text" class="form-control" placeholder="Destination" name="dest">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Count</label>
             <input type="text" class="form-control" placeholder="Count" name="count">
          </div>
          <div class="input-group mb-3">
            <label class="font-weight-bold">VRF</label>
            <div class="input-group mb-3">
              <select class="custom-select" id="vrf" name="vrf">
                <option value="none">None</option>
                {% for i in vrfs %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br/>
          <input value="Submit" type="submit" class="btn btn-dark">
          <br/>
          <br/>
        </form>
        <br/>
        <br/>
        <div id='response'></div>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){
    $('#pingForm').submit(function(){
     $.ajax({
      url: '/ping_status',
      type: 'POST',
      data: $('form').serialize(),
      success: function(response){
       $('#response').html(response.data);
      },
     });
     return false;
    });
  });

</script>

 {% endblock content %}

{% block javascripts %}


{% endblock javascripts %}