{% extends 'layouts/base.html' %}

{% block title %} IOS-XE Viewer {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">
              <span>IP Interfaces</span>
              <span class="float-right text-primary">* Assigned QoS</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <span class="counter pull-right"></span>
        <table class="table align-items-center table-flush results">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center">Interface</th>
              <th scope="col" class="text-center">IP</th>
              <th scope="col" class="text-center">Admin/Operational</th>
              <th scope="col" class="text-center">Speed</th>
              <th scope="col" class="text-center">Last Change</th>
              <th scope="col" class="text-center">InOctets</th>
              <th scope="col" class="text-center">OutOctets</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for i in interfaces %}
            {% for k, v in i.items() %}
                <tr style="height:1px">
                  {% if k in interface_qos %}
                    <th scope="row" class="text-center text-primary">
                      {{ '*' + k + ' (Qos)'}}
                    </th>
                  {%else%}
                     <th scope="row" class="text-center">
                      {{ k }}
                    </th>
                  {%endif%}
                  <th scope="row" class="text-center">
                    {{ v['IP'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ v['Admin'] }}/{{ v['Operational'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ v['Speed'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ v['Last Change'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ v['In Octets'] }}
                  </th>
                   <th scope="row" class="text-center">
                    {{ v['Out Octets'] }}
                  </th>
                  {% if k in interface_qos %}
                    <th scope="row" class="text-center">
                      <span><a href="{{ url_for('base_blueprint.configure_qos', interface=k.replace('/', '%2f')) }}">
                      <input value="Change Qos" name="{{ k }}" class="btn btn-link" role="status" type="button" style="font-size:11px"></a></span>
                    </th>
                  {% else %}
                    <th scope="row" class="text-center">
                      <span><a href="{{ url_for('base_blueprint.configure_qos', interface=k.replace('/', '%2f')) }}">
                      <input value="Add Qos" name="{{ k }}" class="btn btn-link" role="status" type="button" style="font-size:11px"></a></span>
                    </th>
                  {% endif %}
                </tr>
            {%endfor%}
          {%endfor%}
        </table>
      </div>
    </div>
  </div>
</div>
{% if interface_qos%}
<div class="row">
    <div class="col-xl-12">
      {% for k, v in interface_qos.items() %}
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">{{ k }} | Policy: {{ v[0]['Policy_name'] }} | Direction: {{ v[0]['Direction'] }}</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush table-borderless">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-center">Queue</th>
                  <th scope="col" class="text-center">Queued Rate</th>
                  <th scope="col" class="text-center">In Bytes</th>
                  <th scope="col" class="text-center">In Packets</th>
                  <th scope="col" class="text-center">Out Bytes</th>
                  <th scope="col" class="text-center">Out Packets</th>
                  <th scope="col" class="text-center">Drop Packets</th>
                  <th scope="col" class="text-center">Drop Bytes</th>
                  <th scope="col" class="text-center">WRED Packets
                  <th scope="col" class="text-center">WRED Bytes</th>
                  <th scope="col" class="text-center">Details</th>
                </tr>
              </thead>
              <tbody>
              {% for stat in v[1]['queues'] %}
                <tr style="height:1px">
                  <th scope="row">
                    {{ stat['queue_name'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ stat['rate'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ stat['bytes'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ stat['packets'] }}
                  </th>
                   <th scope="row" class="text-center">
                    {{ stat['out_bytes'] }}
                  </th>
                  <th scope="row" class="text-center">
                    {{ stat['out_packets'] }}
                  </th>

                  {% if stat['drop_packets'] != '0' %}
                    <th style="color:red" scope="row" class="text-center">
                      {{ stat['drop_packets'] }}
                    </th>
                  {%else%}
                   <th scope="row">
                      {{ stat['drop_packets'] }}
                    </th>
                  {%endif%}

                  {% if stat['drop_bytes'] != '0' %}
                    <th style="color:red" scope="row" class="text-center">
                      {{ stat['drop_bytes'] }}
                  {%else%}
                   <th scope="row" class="text-center">
                      {{ stat['drop_bytes'] }}
                    </th>
                  {%endif%}

                  {% if stat['wred_drops_pkts'] != '0' %}
                    <th style="color:red" scope="row" class="text-center">
                      {{ stat['wred_drops_pkts'] }}
                  {%else%}
                   <th scope="row" class="text-center">
                      {{ stat['wred_drops_pkts'] }}
                    </th>
                  {%endif%}

                  {% if stat['wred_drop_bytes'] != '0' %}
                    <th style="color:red" scope="row" class="text-center">
                      {{ stat['wred_drop_bytes'] }}
                  {%else%}
                   <th scope="row" class="text-center">
                      {{ stat['wred_drop_bytes'] }}
                    </th>
                  {%endif%}
                   <th scope="row" class="text-center">
                    <input value="More Details" name="{{ k }}" class="btn btn-link" role="status" type="button" onclick="moreQosDetails(this.name)" id="{{ k }}" style="font-size:11px">
                  </th>
                </tr>

              {% endfor %}
            </table>
          </div>
        </div>
      {%endfor%}
    </div>
</div>
{%else%}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0 text-center">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 text-danger">No Qos Detected</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endif%}


<script>

  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

</script>
<script>

  function moreQosDetails(val){
     $.ajax({
      url: '/qos_details',
      type: 'POST',
      data: {'details': val},
      success: function(response) {
          var wind_three = window.open("", "popupWindow", "width=700,height=800,scrollbars=yes");
            wind_three.document.write(response);
      },
     });
    }

 </script>


 {% endblock content %}

{% block javascripts %}


{% endblock javascripts %}