 <table class="table align-items-center table-flush results" id="bgpNeighbors">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="text-center">Neighbor</th>
      <th scope="col" class="text-center">AS</th>
      <th scope="col" class="text-center">Uptime</th>
      <th scope="col" class="text-center">Prefixes</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for k, v in bgp.items() %}
      {% for i in v %}
        <tr style="height:1px">
          <th scope="row" class="text-center">
            {{ i['Neighbor'] }}
          </th>
          <th scope="row" class="text-center">
            {{ i['AS'] }}
          </th>
          <th scope="row" class="text-center">
            {{ i['Uptime'] }}
          </th>
          <th scope="row" class="text-center">
            {{ i['Prefixes'] }}
          </th>
          <th scope="row" class="text-center">
            <a href="{{ url_for('base_blueprint.modify_bgp_neighbors', neighbor= i['Neighbor'] ) }}"><input value="Modify Neighbor" name="bgp"  role="status" type="button" class="btn btn-link font-weight-bold"></a>
          </th>
        </tr>
    {%endfor%}
  {%endfor%}
</table>